ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Roboto", sans-serif;
    display: flex;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

li a:hover:not(.active) {
    background-color: #C72222;
    font-family: "Roboto", sans-serif;
}

.active {
    background-color: #333;
    font-family: "Roboto", sans-serif;
    color: white;
}

.active a:hover {
    background-color: #FF0D0D;
    font-family: "Roboto", sans-serif;
}